body { width: 320px; font-family: "Helvetica Neue", Helvetica, sans-serif;
  position: relative; }

@media screen and (max-device-width: 480px) {
  body {
    margin: 0 auto;
    padding: 0;
    position: relative;
  }
  #buttons { bottom: 0; right: 0 }
  #save-button { display: none; }
}

@media screen and (min-device-width: 481px) {
  body {
    margin: auto;
    margin-top: 32px;
    position: relative;
  }
  #buttons { right: 0 }
}

#head { position: relative; width: 320px; height: 480px; overflow: hidden; }

#head div { width: 640px; overflow: hidden;
  -moz-transition-property: -moz-transform;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-property: transform;
  -webkit-transition-timing-function: ease-in-out; }

#head div img { width: 320px; }

#images { display: none; }

.top { height: 185px; }
.middle { height: 121px; }
.bottom { height: 174px; }
